<div class="calendar" data-controller="calendar">
  <%= render 'calendar_header' %>
  <div class="calendar-wrapper">
    <%= week_calendar number_of_weeks: @num_weeks, start_date: @start, attribute: :date, events: @events do |date, workouts| %>
      <small><%= date.strftime('%d %b') %></small>
      <button class="add">+</button>

      <% workouts.each do |workout| %>
        <a
          href="/workouts/<%= workout.id %>"
          draggable="true"
          class="workout <%= workout.is_race? ? 'race' : '' %> <%=workout.sport.name%> <%= workout.activity.nil? ? '' : 'done' %>"
        >
          <header>
            <div class="sport-icon" style="background: <%= SPORT_COLORS[workout.sport.name]%>">
              <%= SPORT_ICONS[workout.sport.name] %>
            </div>
            <% if workout.workout_type %>
              <%= t(workout.workout_type.name) %>
            <% end %>

            <% if workout.minutes %>
              <%= number_with_precision(
                workout.minutes,
                precision: 1,
                strip_insignificant_zeros: true
              ) %> min
            <% end %>
          </header>
          <small class="meta">
            <% if workout.km %>
              <%= number_with_precision(
                workout.km,
                precision: 1,
                strip_insignificant_zeros: true
              ) %> km
            <% end %>

            <% if workout.description %>
              <%= workout.description %>
            <% end %>
          </small>
        </a>
      <% end %>
    <% end %>
  </div>
</div>