<div class="main">
  <h3>
    <%= @workout.date.strftime('%e %B %Y') %>
    <%= SPORT_ICONS[@workout.sport.name] %>
  </h3>
  <h4>
    PLAN:
    <%= t(@workout.sport.name) %>
    <% if @workout.workout_type %>
      -
      <%= t(@workout.workout_type.name) %>
    <% end %>
    <% if @workout.minutes > 0 %>
      -
      <%= number_with_precision(
        @workout.minutes,
        precision: 1,
        strip_insignificant_zeros: true
      ) %> min
    <% end %>
    <% if @workout.km > 0 %>
      -
      <%= number_with_precision(
        @workout.km,
        precision: 1,
        strip_insignificant_zeros: true
      ) %> km
    <% end %>
  </h4>
  <p><%= @workout.description %></p>


  <% if @activity.persisted? %>
    <hr />
    <h4>
      VERKLIGHET:
      <%= t(@activity.sport.name) %>
      <% if @activity.minutes > 0 %>
        -
        <%= number_with_precision(
          @activity.minutes,
          precision: 1,
          strip_insignificant_zeros: true
        ) %> min
      <% end %>
      <% if @activity.km > 0 %>
        -
        <%= number_with_precision(
          @activity.km,
          precision: 1,
          strip_insignificant_zeros: true
        ) %> km
      <% end %>
    </h4>
    <% if @activity.training_file.attached? %>
      <%= link_to @activity.training_file.attachment.filename.to_s, url_for(@activity.training_file) %>
    <% end %>
  <% end %>
</div>
